@font-face {
  font-family: "Baron";
  src: url("/fonts/Baron.ttf") format("truetype"); }
h3 {
  font-family: Baron;
  color: #ffb439;
  text-align: center;
  margin: 30px 0 0 0; }

* {
  border-sizing: border-box; }

html {
  font-size: 62.5%; }

.columns {
  margin: 0; }

.container {
  margin: auto 0;
  min-width: 100%;
  min-height: 100vh;
  display: inline-block; }

.v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%; }

.canvas {
  background-color: white;
  min-height: 30vh;
  display: inline-block; }

p {
  max-width: 50vw;
  padding: 0 25vw;
  text-indent: 15px;
  text-align: justify; }
  @media screen and (max-width: 700px) {
    p {
      padding: 10px;
      max-width: 100vw; } }

* {
  border-sizing: border-box; }

html {
  font-size: 62.5%; }

.columns {
  margin: 0; }

.container {
  margin: auto 0;
  min-width: 100%;
  min-height: 100vh;
  display: inline-block; }

.v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%; }

.canvas {
  background-color: white;
  min-height: 30vh;
  display: inline-block; }

p {
  max-width: 50vw;
  padding: 0 25vw;
  text-indent: 15px;
  text-align: justify; }
  @media screen and (max-width: 700px) {
    p {
      padding: 10px;
      max-width: 100vw; } }

nav {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-block;
  position: fixed;
  z-index: 3; }
  nav a {
    font-family: Baron;
    font-size: 2.5rem; }
    @media screen and (max-width: 550px) {
      nav a {
        min-width: 100vw;
        text-align: center; } }
  nav ul {
    padding-top: 1%;
    margin: 0 auto;
    text-align: right;
    font-size: 1.5rem; }
    @media screen and (max-width: 550px) {
      nav ul {
        min-width: 100vw;
        margin: 0; } }
  nav li {
    display: inline-block;
    margin: auto 5%; }
    nav li:nth-child(3) {
      color: #ffb439; }
    @media screen and (max-width: 550px) {
      nav li {
        margin: 0 3%;
        float: left; } }

footer {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  max-height: 40px; }
  footer ul {
    text-align: center;
    margin: 0; }
  footer li {
    display: inline-block;
    margin: 1% 7%; }
    @media screen and (max-width: 460px) {
      footer li {
        margin: 1% 3%; } }

.home, .quienessomos, .misionyvision, .contacto {
  background-image: url("../img/home.jpg");
  background-size: cover; }

.home h1, .quienessomos h1, .misionyvision h1, .contacto h1 {
  font-family: Baron;
  color: #ffb439;
  text-align: center;
  padding-top: 30vh;
  font-size: 10rem; }
  @media screen and (max-width: 460px) {
    .home h1, .quienessomos h1, .misionyvision h1, .contacto h1 {
      font-size: 7rem; } }
.home h2, .quienessomos h2, .misionyvision h2, .contacto h2 {
  text-align: center;
  color: #ffb439;
  margin: 0; }

.quienessomos, .misionyvision, .contacto {
  background-image: url("../img/quienessomos.jpg");
  background-size: cover; }

.quienessomos .canvas h3, .misionyvision .canvas h3, .contacto .canvas h3 {
  font-family: Baron;
  color: #ffb439;
  text-align: center;
  margin: 30px 0 0 0; }

.misionyvision, .contacto {
  background-image: url("../img/misionyvision.jpg");
  background-size: cover; }

.misionyvision .canvas, .contacto .canvas {
  position: absolute;
  bottom: 5%; }
  .misionyvision .canvas p, .contacto .canvas p {
    padding: 5%; }

.educacion {
  background-image: url("../img/educacion.jpg");
  background-size: cover; }

.salud {
  background-image: url("../img/salud.jpg");
  background-size: cover; }

.defensadelterritorio {
  background-image: url("../img/defensadelterritorio.jpg");
  background-size: cover; }

.proyectos .four.columns {
  width: 33.33333%; }
.proyectos img {
  float: left;
  z-index: 2;
  margin-top: -10%;
  width: 25%;
  margin-left: 37%; }
.proyectos .educacion, .proyectos .salud, .proyectos .defensadelterritorio {
  height: 60vh; }
.proyectos p {
  padding: 0 3rem; }

.contacto {
  background-image: url("../img/contacto.jpg");
  background-size: cover; }

.contacto .quote {
  float: right; }
  .contacto .quote p {
    text-indent: 0;
    font-size: 2em;
    text-align: right;
    margin: 0;
    padding: 10vh 0;
    color: #FFF; }
    @media screen and (max-width: 500px) {
      .contacto .quote p {
        font-size: 1.5em; } }
  .contacto .quote .signs, .contacto .quote p::before, .contacto .quote p::after {
    content: " ";
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    background-size: 100% 100%; }
    @media screen and (max-width: 500px) {
      .contacto .quote .signs, .contacto .quote p::before, .contacto .quote p::after {
        min-height: 30px;
        min-width: 30px; } }
  .contacto .quote p::before {
    background-image: url("../img/quotes1.svg");
    margin: 0; }
  .contacto .quote p::after {
    background-image: url("../img/quotes2.svg");
    margin-top: -50px; }
  .contacto .quote strong {
    color: #FFF;
    display: block;
    font-size: 1.7em;
    text-align: right;
    padding: 0 30px; }
    @media screen and (max-width: 500px) {
      .contacto .quote strong {
        font-size: 1.3em;
        padding: 0 10px; } }
.contacto .canvas {
  min-height: 20vh; }

/*# sourceMappingURL=main.css.map */
