@include background_img(home) 

.home
    h1
        font-family: Baron
        color: $logoColor
        text-align: center
        padding-top: 30vh
        font-size: 10rem
        @media screen and (max-width: 460px)
            font-size: 7rem
    h2
        text-align: center
        color: $logoColor
        margin: 0