@include background_img(educacion)
@include background_img(salud)
@include background_img(defensadelterritorio)
img 
    min-width: 100%
.educacion
    min-height: 80vh
    min-width: 33.333vw
.salud
    min-height: 80vh
    min-width: 33.333vw
.defensadelterritorio
    min-height: 80vh
    min-width: 33.333vw