@include background_img(quienessomos) 
.quienessomos
    @extend .home
    .canvas
        background-color: white
        min-height: 30vh
        display: inline-block
        h3 
            font-family: Baron
            color: $logoColor
            text-align: center
            margin: 30px 0 0 0