@media (min-width: 200px)
    .proyectos
        >div
            display: flex
            justify-content: center
            flex-direction: column
            min-height: 100%
        .columns
            min-width: 100%
    