@media (max-width: 500px)
    .proyectos
        >div
            display: flex
            justify-content: center
            flex-direction: column
            min-height: 100%
        .columns
            min-width: 100%
@media (max-width: 700px)
    #logo
        width: auto
        
@media (max-width: 400px)
    .nav-collapse
        li
            display:block
            text-align: center
            width: 100%
    
    