$logoColor: #ffb439
$logoSize:2.5rem


@font-face
    font-family: "Baron"
    src: url('/fonts/Baron.ttf') format("truetype")
h3 
    font-family: Baron
    color: $logoColor
    text-align: center
    margin: 30px 0 0 0